<MudGrid Spacing="1" Class="marquee-container">

    <MudItem xs="12" sm="12">
        <div class="marque-heading mt-5 mb-3">
            <h2>What our<br />clients say</h2>
        </div>
    </MudItem>
    <MudItem xs="12" sm="12" Class="mt-8">
        <div class="marquee">
            <div class="marquee-content">              

                @foreach (var t in TestimonialsList)
                {
                    <div class="marquee-icon-wrapper">
                        <MudGrid Spacing="2">
                            <MudItem xs="12" sm="12">
                                <MudStack Row="true" AlignItems="AlignItems.Start">
                                    <div>
                                        <img src="https://airbrotest.ezgatherr.com/uploadfiles/@t.WebPicture" alt="Client Images" height="60" width="60" class="rounded-circle" />
                                    </div>
                                    <div>
                                        <h6 class="marquee-client-name">@t.CustomerName</h6>
                                        <p class="marquee-client-designation">@t.Designation</p>
                                    </div>
                                </MudStack>
                            </MudItem>
                            <MudItem xs="12" sm="12">
                                <div class="marquee-content-area">
                                    <p>@t.Content</p>
                                </div>
                            </MudItem>
                        </MudGrid>
                    </div>
                }

                <!-- duplicate entry-->
                @foreach (var t in TestimonialsList)
                {                  
                    <div class="marquee-icon-wrapper">
                        <MudGrid Spacing="2">
                            <MudItem xs="12" sm="12">
                                <MudStack Row="true" AlignItems="AlignItems.Start">
                                    <div>
                                        <img src="https://airbrotest.ezgatherr.com/uploadfiles/@t.WebPicture" alt="Client Images" height="60" width="60" class="rounded-circle" />
                                    </div>
                                    <div>
                                        <h6 class="marquee-client-name">@t.CustomerName</h6>
                                        <p class="marquee-client-designation">@t.Designation</p>
                                    </div>
                                </MudStack>
                            </MudItem>
                            <MudItem xs="12" sm="12">
                                <div class="marquee-content-area">
                                    <p>@t.Content</p>
                                </div>
                            </MudItem>
                        </MudGrid>
                    </div>
                }
               
            </div>
        </div>

        <div class="zig-indicators12 mt-8">            
            @for (int i = 0; i < TestimonialsList.Count; i++)
            {
                <span class="zig-dot @(i == activeIndex ? "active" : "")"></span>
            }
        </div>

    </MudItem>
</MudGrid>

<style>
    .marquee-container {
        position: relative;
    }
    .marque-blur-circle {
        position: absolute;
        width: 625px;
        height: 625px;
        top: 20px;
        left: -219px;
        border-radius: 50%;
        background-color: #FF6F61;
        filter: blur(250px);
        opacity: 0.1;
    }
    .marquee {
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
    }
    .marquee-content {
        display: inline-flex;
        animation: scroll 30s linear infinite;
    }
    .marquee-icon-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        height: 360px;
        margin: 10px;
        background-color: #ffffff;
        border-radius: 30px;
        background-image: url('/images/web-content/quoet-vector.svg'); /* your SVG */
        background-repeat: no-repeat;
        background-size: 35px 35px;
        background-position: 24px 24px 24px 20px;
        padding-left: 24px;
        padding-top: 24px;
    }

    .marquee-client-name {
        color: #171717;
    }

        .marquee-client-name h6 {
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 0px;
            padding-right: 172px;
        }

    .marquee-client-designation {
        color: #737373;
    }

        .marquee-client-designation p {
            font-size: 16px;
            margin-bottom: 0px;
        }

    .marquee-content-area {
        font-family: Source Sans 3;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: -0.32px;
        width: 232px;
        text-wrap: auto;
    }

    .marque-heading {
        margin-bottom: 64px;
    }

        .marque-heading h2 {
            font-family: Playfair Display;
            font-weight: 400;
            font-style: Italic;
            font-size: 48px;
            line-height: 100%;
            letter-spacing: -0.96px;
            text-align: center;
            margin-bottom: 0px;
        }

    .marquee-content-area p {
        width: 232px;
        text-wrap: wrap;
        color: #111;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
        letter-spacing: -0.32px;
    }


    .zig-indicators12 {
        display: flex;
        justify-content: center;
        gap: 8px;
        margin-top: 16px;
    }

    .zig-dot {
        width: 18px;
        height: 4px;
        border-radius: 999px;
        background-color: #d9d9d9; /* inactive */
        transition: all 0.3s ease;
    }

        .zig-dot.active {
            background-color: #000000; /* active */
            width: 28px; /* slightly longer */
        }
</style>

