<MudGrid Spacing="0" Class="homegather-box1">
    <MudItem xs="12" sm="12">
        <h6 class="homegather-heading1"> There is one step away</h6>
        <div class="homegather-img1">
            <MudFab StartIcon="@Icons.Material.Filled.Close" Size="Size.Small" Color="Color.Default" DropShadow="false" />
        </div>
        <p class="A-para-para">Please provide us these details. This will help us to serve you a better</p>
    </MudItem>

    <MudItem xs="12" sm="12">
        <div style="border: 3px solid #EEEEEE;">
        </div>
    </MudItem>
   

    <MudGrid Spacing="0">
        <MudItem xs="12" sm="12">
            <p class="para-homegather mt-6">Indoors/ outdoor</p>
        </MudItem>
        <MudItem xs="12" sm="12">
            <MudSelect T="string" Variant="Variant.Outlined" Margin="Margin.Dense" AdornmentIcon="@Icons.Material.Filled.KeyboardArrowDown" Placeholder="Please select">

            </MudSelect>
        </MudItem>

        <MudItem xs="12" sm="12">
            <p class="para-homegather mt-4">Venue Type</p>
        </MudItem>
        <MudItem xs="12" sm="12">
            <MudSelect T="string" Variant="Variant.Outlined" Margin="Margin.Dense" AdornmentIcon="@Icons.Material.Filled.KeyboardArrowDown" Placeholder="Please select">

            </MudSelect>
        </MudItem>

        <MudItem xs="12" sm="12">
            <p class="para-homegather mt-4">Lift Availability</p>
        </MudItem>
        <MudItem xs="12" sm="12">
            <MudSelect T="string" Variant="Variant.Outlined" Margin="Margin.Dense" AdornmentIcon="@Icons.Material.Filled.KeyboardArrowDown" Placeholder="Please select">

            </MudSelect>
        </MudItem>

        <MudItem xs="12" sm="12" Class="mt-6">
            <p class="A-para m-0">if no <span class="A-para-para"> – Additional charges may apply based on flight of stairs. Our team shall connect with you with details</span></p>
        </MudItem>

        <MudItem xs="12" sm="12">
            <p class="para-homegather mt-4">Single food setup / Multiple food setups</p>
        </MudItem>
        <MudItem xs="12" sm="12">
            <MudSelect T="string" Variant="Variant.Outlined" Margin="Margin.Dense" AdornmentIcon="@Icons.Material.Filled.KeyboardArrowDown" Placeholder="Please select">

            </MudSelect>
        </MudItem>

        <MudItem xs="12" sm="12" Class="mt-6">
            <p class="A-para m-0">if multiple setup <span class="A-para-para">– additional charges may apply at ,our team shall connect with you with details</span></p>
        </MudItem>
    </MudGrid>

    <MudItem xs="12" sm="12" Class="homegather-boxx mt-6">
        <MudItem xs="12" sm="12" Class="ps-4 pe-4 pt-4">
            <MudStack Row="true" Justify="Justify.SpaceBetween">
                <p class="homegather-parasmall">Food Cost</p>
                <p class="homegather-parasmall">₹10,2343</p>
            </MudStack>
        </MudItem>

        <MudItem xs="12" sm="12" Class="ps-4 pe-4">
            <MudStack Row="true" Justify="Justify.SpaceBetween">
                <p class="homegather-parasmall">Sub Total</p>
                <p class="homegather-parasmall">₹10,2343</p>
            </MudStack>
        </MudItem>

        <MudItem xs="12" sm="12" Class="ps-4 pe-4">
            <MudStack Row="true" Justify="Justify.SpaceBetween">
                <p class="homegather-parasmall">GST @@ 5%</p>
                <p class="homegather-parasmall">₹10,2343</p>
            </MudStack>
        </MudItem>


        <MudItem xs="12" sm="12" Class="ps-4 pt-2 pe-4">
            <MudStack Row="true" Justify="Justify.SpaceBetween">
                <p class="homegather-parasmal12">Grand Total</p>
                <p class="homegather-parasmal12">₹10,2343</p>
            </MudStack>
        </MudItem>

        <MudItem xs="12" sm="12" Class="p-4">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" FullWidth="true" Size="Size.Medium" Class="btn-primary">Place order</MudButton>
        </MudItem>

    </MudItem>

    

</MudGrid>

<style>


    .homegather-box1 {
        position: relative;
        width: auto;
        padding: 24px 16px 24px 16px;
    }

    .homegather-img1 {
        position: absolute;
        top: 8px;
        right: 8px;
    }

    .homegather-heading1 {
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 28.8px */
        letter-spacing: -0.48px;
    }

    .search1-box {
        width: auto;
        height: 46px;
        background: #f9f9f9;
        border: 1px solid #EEEEEE;
        border-radius: 12px;
        display: flex;
        align-items: center;
        padding: 0 14px;
        gap: 10px;
    }

    .A-para-para {
        color: #666;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.24px;
    }
    .para-homegather {
        color: #333;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.28px;
    }

    .A-para {
        color: #111;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.4px;
        margin-top: 24px;
    }

    .homegather-boxx {
        width: auto;
        height: auto;
        background-color:#3E1268;
        border-radius:16px;
    }
    .homegather-parasmall {
        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.28px;
        color:#ffffff;
        opacity: 0.8;
    }
    .homegather-parasmal12 {
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.4px;
    }
</style>