<MudGrid Spacing="0">
    <MudItem xs="12" sm="12" Class="packagetab-box1">
        <MudStack Row="true">
            <img class="packagetab-img1" src="/images/web-content/backbutton.svg" />
            <h6 class="packagetab-heading1"> Basic Indian</h6>
        </MudStack>
    </MudItem>
    <MudItem xs="12">
        <img class="img-package" style="width:100%" src="/images/web-content/packagetab.png" />
        @*<div class="satya-img-btn">
                <img src="/images/web-content/cutbutton.png" />
            </div>*@
    </MudItem>
    <MudItem xs="12" Class="heading mt-4" sm="12">
        <p class="m-0">
            A curated selection of Indian staples — aromatic rice, wholesome curries,
            and breads prepared fresh for everyday events, offering the perfect blend of comfort, taste, and tradition.
        </p>
    </MudItem>
    <MudItem xs="12" Class="mt-2 pl-4">
        <MudTabs Centered="false" Elevation="0" Rounded="true" Outlined="false" MinimumTabWidth="0" PanelClass="">
            <MudTabPanel Style="text-transform:none" Text="Package">

            </MudTabPanel>
            <MudTabPanel Style="text-transform:none" Text="Add-on">

            </MudTabPanel>
        </MudTabs>
    </MudItem>

    <MudItem xs="12" Class="all-heading12 mt-4">
        <h2 class="all-heading">Includes</h2>
        <MudGrid Spacing="0">
            <MudItem xs="3" sm="3">
                <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center">
                    <img src="/images/web-content/_food.svg" />
                    <span>Food</span>
                </MudStack>
            </MudItem>
            <MudItem xs="9" sm="9">
                <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center">
                    <img src="/images/web-content/_food.svg" />
                    <span>Waiters</span>
                </MudStack>
            </MudItem>

        </MudGrid>
        <div class="dashed-hr">

        </div>
    </MudItem>

    <MudItem xs="12" Class="all-heading12">
        <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
            <span class="all-heading">Fit for</span>
            <span>Total: <span class="all-heading">20 Persons</span></span>
        </MudStack>
        <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween" Class="mt-2 mb-2">
            <p>Veg</p>
            <VegNumericField />
        </MudStack>
        <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
            <p>Non-Veg</p>
            <NonVegNumericField />
        </MudStack>
        <div class="dashed-hr">

        </div>
    </MudItem>

    <MudItem xs="12" Class="all-heading12">
        <h2 class="all-heading">Starters 1</h2>
        <MudGrid Spacing="0">
            <MudItem xs="10" sm="10">
                <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center">
                    <img src="/images/web-content/veg.png" />
                    <span>Tandoori Achari Aloo</span>
                </MudStack>
            </MudItem>
            <MudItem xs="2" sm="2">
                <MudStack Spacing="5" Row="true" AlignItems="AlignItems.Center" Class="pl-10">
                    <MudIcon Icon="@CustomIcons.DeletIcon" />
                </MudStack>
            </MudItem>
            <MudItem xs="8" sm="8">
                <p class="para">Baby potatoes marinated in spiced yogurt and roasted to smoky perfection.</p>
            </MudItem>
            <MudItem xs="4" sm="4" Class="mt-5">
                <ItemNumericField />
            </MudItem>
            <MudItem xs="12" sm="12">
                <button class="place-order-btn ">
                    + Place Order
                </button>
            </MudItem>
        </MudGrid>
    </MudItem>

    <MudItem xs="12" Class="all-heading12 mt-6">
        <h2 class="all-heading">Mains</h2>
        <MudGrid Spacing="0">
            <MudItem xs="10" sm="10">
                <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center">
                    <img src="/images/web-content/veg.png" />
                    <span>Dal Tadka</span>
                </MudStack>
            </MudItem>
            <MudItem xs="2" sm="2">
                <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center" Class="pl-10">
                    <MudIcon Icon="@CustomIcons.DeletIcon" />
                </MudStack>
            </MudItem>
            <MudItem xs="8" sm="8">
                <p class="para">Baby potatoes marinated in spiced yogurt and roasted to smoky perfection.</p>
            </MudItem>
            <MudItem xs="4" sm="4" Class="mt-5">
                <ItemNumericField />
            </MudItem>
            <MudItem xs="12" sm="12">
                <button class="place-order-btn ">
                    + Place Order
                </button>
            </MudItem>
        </MudGrid>
        <div class="dashed-hr">

        </div>
    </MudItem>



    <MudItem xs="12" Class="all-heading12">
        @*<h2 class="all-heading">Mains</h2>*@
        <MudGrid Spacing="0">
            <MudItem xs="10" sm="10">
                <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center">
                    <img src="/images/web-content/non-veg.png" />
                    <span>Chole Masala </span>
                </MudStack>
            </MudItem>
            <MudItem xs="2" sm="2">
                <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center" Class="pl-10">
                    <MudIcon Icon="@CustomIcons.DeletIcon" />
                </MudStack>
            </MudItem>
            <MudItem xs="8" sm="8">
                <p class="para">Baby potatoes marinated in spiced yogurt and roasted to smoky perfection.</p>
            </MudItem>
            <MudItem xs="4" sm="4" Class="mt-5">
                <ItemNumericField />
            </MudItem>
            <MudItem xs="12" sm="12">
                <button class="place-order-btn ">
                    + Place Order
                </button>
            </MudItem>
        </MudGrid>
    </MudItem>



    <MudItem xs="12" Class="all-heading12 mt-6">
        <h2 class="all-heading">Bread / Rice</h2>
        <MudGrid Spacing="0">
            <MudItem xs="10" sm="10">
                <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center">
                    <img src="/images/web-content/non-veg.png" />
                    <span>Wheat Tandoori Roti</span>
                </MudStack>
            </MudItem>
            <MudItem xs="2" sm="2">
                <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center" Class="pl-10">
                    <MudIcon Icon="@CustomIcons.DeletIcon" />
                </MudStack>
            </MudItem>
            <MudItem xs="8" sm="8">
                <p class="para">Baby potatoes marinated in spiced yogurt and roasted to smoky perfection.</p>
            </MudItem>
            <MudItem xs="4" sm="4" Class="mt-5">
                <ItemNumericField />
            </MudItem>
        </MudGrid>
        <div class="dashed-hr">

        </div>
    </MudItem>



    <MudItem xs="12" Class="all-heading12">
        @*<h2 class="all-heading">Starters 1</h2>*@
        <MudGrid Spacing="0">
            <MudItem xs="10" sm="10">
                <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center">
                    <img src="/images/web-content/veg.png" />
                    <span>Steamed Rice</span>
                </MudStack>
            </MudItem>
            <MudItem xs="2" sm="2">
                <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center" Class="pl-10">
                    <MudIcon Icon="@CustomIcons.DeletIcon" />
                </MudStack>
            </MudItem>
            <MudItem xs="8" sm="8">
                <p class="para">Baby potatoes marinated in spiced yogurt and roasted to smoky perfection.</p>
            </MudItem>
            <MudItem xs="4" sm="4" Class="mt-5">
                <ItemNumericField />
            </MudItem>
            <MudItem xs="12" sm="12">
                <button class="place-order-btn ">
                    + Place Order
                </button>
            </MudItem>
        </MudGrid>
    </MudItem>



    <MudItem xs="12" Class="all-heading12 mt-6">
        <h2 class="all-heading">Dessert</h2>
        <MudGrid Spacing="0">
            <MudItem xs="10" sm="10">
                <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center">
                    <img src="/images/web-content/non-veg.png" />
                    <span>Wheat Tandoori Roti</span>
                </MudStack>
            </MudItem>
            <MudItem xs="2" sm="2">
                <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center" Class="pl-10">
                    <MudIcon Icon="@CustomIcons.DeletIcon" />
                </MudStack>
            </MudItem>
            <MudItem xs="8" sm="8">
                <p class="para">Baby potatoes marinated in spiced yogurt and roasted to smoky perfection.</p>
            </MudItem>
            <MudItem xs="4" sm="4" Class="mt-5">
                <ItemNumericField />
            </MudItem>
            <MudItem xs="12" sm="12">
                <button class="place-order-btn ">
                    + Place Order
                </button>
            </MudItem>
        </MudGrid>
    </MudItem>



    <MudItem xs="12" sm="12" Class="mb-4 mt-6 p-2">
        <HelpingHand />

    </MudItem>

    <MudItem xs="12">
        <div class="top-shadow-card">
            <MudStack Row="true"
                      AlignItems="AlignItems.Center"
                      Class="content-row">
                <img src="/images/web-content/home-ai-img.svg" />
                <p>Switch <i style="font-size:14px; color:#111;">manual</i> selection mode <span>KNOW MORE</span></p>
                <MudSwitch T="bool" Color="Color.Secondary" />

            </MudStack>
        </div>
    </MudItem>



    <MudItem xs="12" class="footer-div">
        <MudStack Row="true" Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">
            <div>
                <h6 class="mt-2"> ₹ 13,513.50</h6>
                <p>Inclusive of all taxes</p>
            </div>

            <div>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Medium" Class="btn-primary mb-2">Place Order</MudButton>

            </div>
        </MudStack>
    </MudItem>

</MudGrid>

<style>

    .packagetab-box1 {
        display: flex;
        width: auto;
        height: 57px;
        flex-direction: column;
        align-items: flex-start;
    }

    .packagetab-img1 {
        padding-left: 24px;
        padding-top: 16px;
    }

    .packagetab-heading1 {
        color: #111;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 150% */
        padding-top: 18px;
    }

    .img-package {
        height: 250px;
        opacity: 1;
    }
    .satya-img-btn {
        position: absolute;
        width: 32px;
        height: 32px;
        top: 10px;
        right: 8px;
    }

    .heading {
        width:auto;
        padding-left: 16px;
    }

        .heading h2 {
            font-weight: 600;
            font-size: 24px;
            line-height: 130%;
            letter-spacing: -2%;
            color: #000;
        }

        .heading p {
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: -2%;
            width: 328px;
            height: 72px;
            top: 353px;
            left: 16px;
            opacity: 1;
            color: #666;
        }
    .pannel-class{
        border:2px solid #EEE;
        top:0;
    }

    .modify-btn {
        background-color: #EEEEEE;
        border-radius: 24px;
    }

    .all-heading {
        width: 150px;
        height: 18px;
        opacity: 1;
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: -2%;
        color: #111111;
    }

    .veg-div {
        width: auto;
        height: 102px;
        top: 626px;
        left: 16px;
        opacity: 0.4;
        border-radius: 16px;
        background: linear-gradient(154.48deg, rgba(15, 181, 89, 0.4) -9.17%, rgba(15, 181, 89, 0.08) 62.92%);
    }

    .veg-non-div {
        width: auto;
        height: 102px;
        top: 626px;
        left: 16px;
        opacity: 0.4;
        border-radius: 16px;
        background: linear-gradient(154.48deg, rgba(246, 20, 21, 0.4) -9.17%, rgba(246, 20, 21, 0.08) 62.92%);
    }

    .veg-div div {
        width: 144px;
        height: 60px;
        top: 38px;
        left: 20px;
        opacity: 1;
        border-radius: 16px;
        background-color: #FFFFFF;
    }

    .veg-non-div div {
        width: 144px;
        height: 60px;
        top: 38px;
        left: 20px;
        opacity: 1;
        border-radius: 16px;
        background-color: #FFFFFF;
    }

    .para {
        width: 183px;
        text-wrap: wrap;
        color: #666;
        font-family: "DM Sans";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.24px;
        padding-left:28px;
    }

    .footer-div {
        width: 360px;
        height: 56px;
        background-color: #3E1268;
        color: #FFFFFF;
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer-div p {
        color: #D8D0E1;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.24px;
    }

    .place-order-btn {
        width: 100%;
        height: 32px;
        border: 1px dashed #CCCCCC;
        background-color: #F9F9F9;
        border-radius: 40px;
        padding-right: 16px;
    }
    .dashed-hr {
        border: 1px dashed #DDD; width:auto; height: 0px;
        margin-top:16px;
        margin-bottom:16px;
    }
    .all-heading12 {
        padding-left: 16px;
        padding-right: 16px;
    }


    .top-shadow-card {
        background: #FFF;
        filter: drop-shadow(0 -10px 12px rgba(0, 0, 0, 0.08));
    }

    .content-row {
        padding: 12px 20px;
    }

        .content-row img {
            margin-right: 8px;
        }

        .content-row p {
            margin: 0;
        }

        .content-row span {
            font-size: 12px;
            font-weight: 500;
            text-decoration:underline;
        }

    
</style>