<MudGrid Spacing="0">
    <MudItem xs="12" sm="12" Class="packagetab-box1">
        <MudStack Row="true">
            <img class="packagetab-img1" src="/images/web-content/backbutton.svg" />
            <h6 class="packagetab-heading1"> Basic Indian</h6>
        </MudStack>
    </MudItem>

    <MudItem xs="12">
        <img class="img-package" style="width:100%" src="/images/web-content/packagetab.png" />
        <div class="satya-img-btn">
            @*<img src="/images/web-content/cutbutton.png" />*@
        </div>
    </MudItem>

    <MudItem class="heading mt-4" xs="12" sm="12">
        <p>
            A curated selection of Indian staples — aromatic rice, wholesome curries,
            and breads prepared fresh for everyday events, offering the perfect blend of comfort, taste, and tradition.
        </p>
    </MudItem>

    <MudItem xs="12">
        <MudTabs Centered="false" Elevation="0" Rounded="true" Outlined="false" MinimumTabWidth="0" PanelClass="">
            <MudTabPanel Style="text-transform:none" Text="Package">

            </MudTabPanel>
            <MudTabPanel Style="text-transform:none" Text="Add-on">

            </MudTabPanel>
        </MudTabs>
    </MudItem>

    @*<MudItem xs="12" sm="12">
        <hr style="border:1px solid red" />
    </MudItem>*@

    <MudItem xs="12" Class="p-3">
        <h2 class="all-heading">Includes</h2>
        <MudGrid Spacing="0">
            <MudItem xs="6" sm="6">
                <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center">
                    <img src="/images/web-content/_food.svg" />
                    <span>Food</span>
                </MudStack>
            </MudItem>
            <MudItem xs="6" sm="6">
                <MudStack Spacing="2" Row="true" AlignItems="AlignItems.Center">
                    <img src="/images/web-content/_food.svg" />
                    <span>Waiters</span>
                </MudStack>
            </MudItem>
            <div class="dashed-hr12 mt-4">

            </div>
        </MudGrid>
    </MudItem>


    <MudItem xs="12" Class="p-3">
        <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
            <span class="all-heading">Fit for</span>
            <span>Total: <span class="all-heading">20 Persons</span></span>
        </MudStack>
        <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween" Class="mt-2 mb-2">
            <p>Veg</p>
            <VegNumericField />
        </MudStack>
        <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
            <p>Non-Veg</p>
            <NonVegNumericField />
        </MudStack>
        <div class="dashed-hr12 mt-4">

        </div>
    </MudItem>



    <MudItem xs="12" Class="p-3">
        <h2 class="all-heading">Starters 1</h2>
        <MudGrid Spacing="0">

            <MudItem xs="12">
                <MudStack Row="true" AlignItems="AlignItems.Center">
                    <div style="width:90%">
                        <MudStack Row="true" Spacing="2" AlignItems="AlignItems.Center">
                            <img src="/images/web-content/veg.png" />
                            <span>Tandoori Achari Aloo</span>
                        </MudStack>
                    </div>
                    <div style="width:10%;" class="text-end">
                        <MudIcon Icon="@CustomIcons.DeletIcon" />
                    </div>
                </MudStack>

                <MudStack Row="true" AlignItems="AlignItems.Center">
                    <div style="width:70%">
                        <p class="para">Baby potatoes marinated in spiced yogurt and roasted to smoky perfection.</p>
                    </div>
                    <div style="width:30%;">
                        <div class="d-flex  justify-content-end">
                            <ItemNumericField />
                        </div>
                    </div>
                </MudStack>

            </MudItem>
          
      
            <MudItem xs="12" sm="12" Class="mt-6">
                <button class="addmore-btn">+ Add More Starters</button>
            </MudItem>
        </MudGrid>
    </MudItem>

    <MudItem xs="12" Class="p-3">
        <h2 class="all-heading">Mains</h2>
        <MudGrid Spacing="0">
            <MudItem xs="12">
                <MudStack Row="true" AlignItems="AlignItems.Center">
                    <div style="width:90%">
                        <MudStack Row="true" Spacing="2" AlignItems="AlignItems.Center">
                            <img src="/images/web-content/veg.png" />
                            <span>Dal Tadka</span>
                        </MudStack>
                    </div>
                    <div style="width:10%;" class="text-end">
                        <MudIcon Icon="@CustomIcons.DeletIcon" />
                    </div>
                </MudStack>

                <MudStack Row="true" AlignItems="AlignItems.Center">
                    <div style="width:70%">
                        <p class="para">Baby potatoes marinated in spiced yogurt and roasted to smoky perfection.</p>
                    </div>
                    <div style="width:30%;">
                        <div class="d-flex  justify-content-end">
                            <ItemNumericField />
                        </div>
                    </div>
                </MudStack>

            </MudItem>

            <MudItem xs="12" sm="12" Class="mt-6">
                <button class="addmore-btn">+ Add More Starters</button>
            </MudItem>
            <div class="dashed-hr12 mt-4">

            </div>
        </MudGrid>
    </MudItem>


    <MudItem xs="12" Class="p-3">
        @*<h2 class="all-heading">Mains</h2>*@
        <MudGrid Spacing="0">
            <MudItem xs="12">
                <MudStack Row="true" AlignItems="AlignItems.Center">
                    <div style="width:90%">
                        <MudStack Row="true" Spacing="2" AlignItems="AlignItems.Center">
                            <img src="/images/web-content/veg.png" />
                            <span>Chola Masala</span>
                        </MudStack>
                    </div>
                    <div style="width:10%;" class="text-end">
                        <MudIcon Icon="@CustomIcons.DeletIcon" />
                    </div>
                </MudStack>

                <MudStack Row="true" AlignItems="AlignItems.Center">
                    <div style="width:70%">
                        <p class="para">Baby potatoes marinated in spiced yogurt and roasted to smoky perfection.</p>
                    </div>
                    <div style="width:30%;">
                        <div class="d-flex  justify-content-end">
                            <ItemNumericField />
                        </div>
                    </div>
                </MudStack>

            </MudItem>

            <MudItem xs="12" sm="12" Class="mt-6">
                <button class="addmore-btn">+ Add More Starters</button>
            </MudItem>
        </MudGrid>
    </MudItem>


    <MudItem xs="12" Class="p-3">
        <h2 class="all-heading">Bread / Rice</h2>
        <MudGrid Spacing="0">
            <MudItem xs="12">
                <MudStack Row="true" AlignItems="AlignItems.Center">
                    <div style="width:90%">
                        <MudStack Row="true" Spacing="2" AlignItems="AlignItems.Center">
                            <img src="/images/web-content/veg.png" />
                            <span>Chola Masala</span>
                        </MudStack>
                    </div>
                    <div style="width:10%;" class="text-end">
                        <MudIcon Icon="@CustomIcons.DeletIcon" />
                    </div>
                </MudStack>

                <MudStack Row="true" AlignItems="AlignItems.Center">
                    <div style="width:70%">
                        <p class="para">Baby potatoes marinated in spiced yogurt and roasted to smoky perfection.</p>
                    </div>
                    <div style="width:30%;">
                        <div class="d-flex  justify-content-end">
                            <ItemNumericField />
                        </div>
                    </div>
                </MudStack>

            </MudItem>
            <div class="dashed-hr12 mt-4">

            </div>
        </MudGrid>
    </MudItem>


    <MudItem xs="12" Class="p-3">
        @*<h2 class="all-heading">Starters 1</h2>*@
        <MudGrid Spacing="0">
            <MudItem xs="12">
                <MudStack Row="true" AlignItems="AlignItems.Center">
                    <div style="width:90%">
                        <MudStack Row="true" Spacing="2" AlignItems="AlignItems.Center">
                            <img src="/images/web-content/veg.png" />
                            <span>Chola Masala</span>
                        </MudStack>
                    </div>
                    <div style="width:10%;" class="text-end">
                        <MudIcon Icon="@CustomIcons.DeletIcon" />
                    </div>
                </MudStack>

                <MudStack Row="true" AlignItems="AlignItems.Center">
                    <div style="width:70%">
                        <p class="para">Baby potatoes marinated in spiced yogurt and roasted to smoky perfection.</p>
                    </div>
                    <div style="width:30%;">
                        <div class="d-flex  justify-content-end">
                            <ItemNumericField />
                        </div>
                    </div>
                </MudStack>

            </MudItem>
            <MudItem xs="12" sm="12" Class="mt-6">
                <button class="addmore-btn">+ Add More Starters</button>
            </MudItem>
        </MudGrid>
    </MudItem>

    <MudItem xs="12" Class="p-3">
        <h2 class="all-heading">Dessert</h2>
        <MudGrid Spacing="0">
            <MudItem xs="12">
                <MudStack Row="true" AlignItems="AlignItems.Center">
                    <div style="width:90%">
                        <MudStack Row="true" Spacing="2" AlignItems="AlignItems.Center">
                            <img src="/images/web-content/non-veg.png" />
                            <span>Chola Masala</span>
                        </MudStack>
                    </div>
                    <div style="width:10%;" class="text-end">
                        <MudIcon Icon="@CustomIcons.DeletIcon" />
                    </div>
                </MudStack>

                <MudStack Row="true" AlignItems="AlignItems.Center">
                    <div style="width:70%">
                        <p class="para">Baby potatoes marinated in spiced yogurt and roasted to smoky perfection.</p>
                    </div>
                    <div style="width:30%;">
                        <div class="d-flex  justify-content-end">
                            <ItemNumericField />
                        </div>
                    </div>
                </MudStack>

            </MudItem>
            <MudItem xs="12" sm="12" Class="mt-6">
                <button class="addmore-btn">+ Add More Starters</button>
            </MudItem>
        </MudGrid>
    </MudItem>

    <MudItem xs="12" Class="mt-6">
        <div class="top-shadow-card">
            <MudStack Row="true"
                      AlignItems="AlignItems.Center"
                      Class="content-row">
                <img src="/images/web-content/home-ai-img.svg" />
                <p>Switch <i style="font-size:14px; color:#111;">manual</i> selection mode <span>KNOW MORE</span></p>
                <MudSwitch T="bool" Color="Color.Secondary" />

            </MudStack>
        </div>
    </MudItem>


    <MudItem xs="12" class="footer-div">
        <MudStack Spacing="0" Row="true" Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center" Style="height:56px;">
   
            <div>
                <h6 class="m-0"> ₹ 13,513.50</h6>
                <p class="m-0" style="text-decoration:underline;">Inclusive of all taxes</p>
            </div>
         

            <div>
                <MudButton Variant="Variant.Filled" Size="Size.Medium" Class="btn-primary rounded-pill" Style="color:white;">Place Order</MudButton>
            </div>
        </MudStack>
    </MudItem>

</MudGrid>

<style>


    .packagetab-box1 {
        display: flex;
        width: auto;
        height: 57px;
        flex-direction: column;
        align-items: flex-start;
    }

    .packagetab-img1 {
        padding-left: 24px;
        padding-top: 16px;
    }

    .packagetab-heading1 {
        color: #111;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 150% */
        padding-top: 18px;
    }

    .img-package {
        height: 250px;
        opacity: 1;
    }
    .satya-img-btn {
        position: absolute;
        width: 32px;
        height: 32px;
        top: 10px;
        right: 8px;
    }

    .heading {
        width:auto;
        padding: 10px;
        text-align: justify;
        text-justify: inter-word;
    }

        .heading h2 {
            font-family: DM Sans;
            font-weight: 600;
            font-size: 24px;
            line-height: 130%;
            letter-spacing: -2%;
        }

        .heading p {
            font-family: DM Sans;
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: -2%;
            width: 328px;
            height: 72px;
            top: 353px;
            left: 16px;
            opacity: 1;
        }
    .addmore-btn {
        width: 328px;
        height: 32px;
        stroke-width: 1px;
        border: 1px dashed #CCC;
        border-radius: 40px;
        background-color: #F9F9F9;
        font-size: 12px;
        color: #666;
    }

    .modify-btn {
        background-color: #EEEEEE;
        border-radius: 24px;
    }

    .all-heading {
        width: 150px;
        height: 18px;
        opacity: 1;
        font-family: DM Sans;
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: -2%;
        color: #111111;
    }

    .veg-div {
        width: auto;
        height: 102px;
        top: 626px;
        left: 16px;
        opacity: 0.4;
        border-radius: 16px;
        background: linear-gradient(154.48deg, rgba(15, 181, 89, 0.4) -9.17%, rgba(15, 181, 89, 0.08) 62.92%);
    }

    .veg-non-div {
        width: auto;
        height: 102px;
        top: 626px;
        left: 16px;
        opacity: 0.4;
        border-radius: 16px;
        background: linear-gradient(154.48deg, rgba(246, 20, 21, 0.4) -9.17%, rgba(246, 20, 21, 0.08) 62.92%);
    }

    .veg-div div {
        width: 144px;
        height: 60px;
        top: 38px;
        left: 20px;
        opacity: 1;
        border-radius: 16px;
        background-color: #FFFFFF;
    }

    .veg-non-div div {
        width: 144px;
        height: 60px;
        top: 38px;
        left: 20px;
        opacity: 1;
        border-radius: 16px;
        background-color: #FFFFFF;
    }

    .para {
        text-wrap: wrap;
        color: #666;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.24px;
        padding-left:26px;
        margin-bottom:0px;
    }

    .footer-div {
        width: 360px;
        height: 56px;
        background-color: #3E1268;
        color: #FFFFFF;
        padding-left: 20px;
        padding-right: 20px;
    }
    .dashed-hr12 {
        border: 1px dashed #DDD;
        width: 328px;
        height: 0;
    }


    .top-shadow-card {
        background: #FFF;
        filter: drop-shadow(0 -10px 12px rgba(0, 0, 0, 0.08));
    }

    .content-row {
        padding: 12px 20px;
    }

        .content-row img {
            margin-right: 8px;
        }

        .content-row p {
            margin: 0;
        }

        .content-row span {
            font-size: 12px;
            font-weight: 500;
            text-decoration: underline;
        }
</style>