<MudGrid Spacing="0" Class="packcust-box1">
    <MudItem xs="12" sm="12">
            <h6 class="packcust-heading1"> Add more items to main course</h6>
            <div class="packcust-img1">
                <MudFab StartIcon="@Icons.Material.Filled.Close" Size="Size.Small" Color="Color.Default" DropShadow="false" />
            </div>
    </MudItem>

        <MudItem xs="12" Class="mt-6">
            <div class="search1-box">
                <img alt="search" class="search-icon1" src="/images/web-content/search-icon.png" />
                <input type="text" placeholder="Search" />
            </div>
        </MudItem>

        <MudGrid Spacing="0">
            <MudItem xs="12" sm="12">
                <p class="para-packcust mt-6">Cuisine</p>
            </MudItem>
            <MudItem xs="12" sm="12">
                <MudSelect T="string" Variant="Variant.Outlined" Margin="Margin.Dense" AdornmentIcon="@Icons.Material.Filled.KeyboardArrowDown" Placeholder="Please select">

                </MudSelect>
            </MudItem>

            <MudItem xs="12" sm="12">
                <p class="para-packcust mt-4">Main course type</p>
            </MudItem>
            <MudItem xs="12" sm="12">
                <MudSelect T="string" Variant="Variant.Outlined" Margin="Margin.Dense" AdornmentIcon="@Icons.Material.Filled.KeyboardArrowDown" Placeholder="Please select">

                </MudSelect>
            </MudItem>
        </MudGrid>

        <MudGrid Spacing="0">
            <MudItem xs="12" sm="12" Class="mt-6">
                <p class="A-para m-0">A</p>
            </MudItem>

            <MudItem xs="12" sm="12">
                <MudStack Spacing="0" Row="true" AlignItems="AlignItems.Center">
                    <img src="/images/web-content/veg.png" />
                    <h2 class="packcust-heading">Starters 1</h2>
                </MudStack>
            </MudItem>

            <MudItem xs="10" sm="10">
                <p class="paracust-para">A classic North Indian dish made with potatoes, cauliflower, and spices.</p>
            </MudItem>
            <MudItem xs="2" sm="2">
                <MudFab StartIcon="@Icons.Material.Filled.Add" DropShadow="false" Size="Size.Small" Color="Color.Default" Style="background-color: white; border: 1.5px solid #666666" />
            </MudItem>

            <MudItem xs="12" sm="12" Class="mt-4">
                <div style="border: 1px dashed #DDD;">
                </div>
            </MudItem>


            <MudItem xs="12" sm="12" Class="mt-4">
                <MudStack Spacing="0" Row="true" AlignItems="AlignItems.Center">
                    <img src="/images/web-content/veg.png" />
                    <h2 class="packcust-heading">Avial</h2>
                </MudStack>
            </MudItem>

            <MudItem xs="10" sm="10">
                <p class="paracust-para">A South Indian mixed vegetable curry cooked in coconut and yogurt.</p>
            </MudItem>
            <MudItem xs="2" sm="2">
                <MudFab StartIcon="@Icons.Material.Filled.Add" DropShadow="false" Size="Size.Small" Color="Color.Default" Style="background-color: white; border: 1.5px solid #666666" />
            </MudItem>

            <MudItem xs="12" sm="12" Class="mt-4">
                <div style="border: 1px dashed #DDD;">
                </div>
            </MudItem>

            <MudItem xs="12" sm="12" Class="mt-4">
                <MudStack Spacing="0" Row="true" AlignItems="AlignItems.Center">
                    <img src="/images/web-content/veg.png" />
                    <h2 class="packcust-heading">Arancini</h2>
                </MudStack>
            </MudItem>

            <MudItem xs="10" sm="10">
                <p class="paracust-para">Italian rice balls stuffed with cheese or meat, then deep-fried.</p>
            </MudItem>
            <MudItem xs="2" sm="2">
                <MudFab StartIcon="@Icons.Material.Filled.Add" DropShadow="false" Size="Size.Small" Color="Color.Default" Style="background-color: white; border: 1.5px solid #666666" />
            </MudItem>

            <MudItem xs="12" sm="12" Class="mt-4">
                <div style="border: 1px dashed #DDD;">
                </div>
            </MudItem>

            <MudItem xs="12" sm="12" Class="mt-4">
                <MudStack Spacing="0" Row="true" AlignItems="AlignItems.Center">
                    <img src="/images/web-content/non-veg.png" />
                    <h2 class="packcust-heading">Andhra Chicken Curry</h2>
                </MudStack>
            </MudItem>

            <MudItem xs="10" sm="10">
                <p class="paracust-para">A fiery South Indian chicken curry known for its rich blend of red chilies, coconut, and curry leaves.</p>
            </MudItem>
            <MudItem xs="2" sm="2">
                <MudFab StartIcon="@Icons.Material.Filled.Add" DropShadow="false" Size="Size.Small" Color="Color.Default" Style="background-color: white; border: 1.5px solid #666666" />
            </MudItem>

            <MudItem xs="12" sm="12" Class="mt-4">
                <div style="border: 1px dashed #DDD;">
                </div>
            </MudItem>

            <MudItem xs="12" sm="12" Class="mt-4">
                <MudStack Spacing="0" Row="true" AlignItems="AlignItems.Center">
                    <img src="/images/web-content/non-veg.png" />
                    <h2 class="packcust-heading">Amritsari Fish</h2>
                </MudStack>
            </MudItem>

            <MudItem xs="10" sm="10">
                <p class="paracust-para">A Punjabi delicacy made with spicy, deep-fried fish fillets marinated in gram flour and aromatic spices..</p>
            </MudItem>
            <MudItem xs="2" sm="2">
                <MudFab StartIcon="@Icons.Material.Filled.Add" DropShadow="false" Size="Size.Small" Color="Color.Default" Style="background-color: white; border: 1.5px solid #666666" />
            </MudItem>
        </MudGrid>

        <MudGrid Spacing="0">
            <MudItem xs="12" sm="12" Class="mt-6">
                <p class="A-para m-0">B</p>
            </MudItem>

            <MudItem xs="12" sm="12">
                <MudStack Spacing="0" Row="true" AlignItems="AlignItems.Center">
                    <img src="/images/web-content/veg.png" />
                    <h2 class="packcust-heading">Baingan Bharta</h2>
                </MudStack>
            </MudItem>

            <MudItem xs="10" sm="10">
                <p class="paracust-para">A smoky North Indian dish made from roasted eggplant mashed with onions, tomatoes, and spices.</p>
            </MudItem>
            <MudItem xs="2" sm="2">
                <MudFab StartIcon="@Icons.Material.Filled.Add" DropShadow="false" Size="Size.Small" Color="Color.Default" Style="background-color: white; border: 1.5px solid #666666" />
            </MudItem>

            <MudItem xs="12" sm="12" Class="mt-4">
                <div style="border: 1px dashed #DDD;">
                </div>
            </MudItem>
        </MudGrid>
        <MudItem xs="12" sm="12">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" FullWidth="true" Size="Size.Medium" Class="btn-primary">Add Items</MudButton>

        </MudItem>


</MudGrid>

<style>


    .packcust-box1 {
        position:relative;
        width: auto;
        padding:24px 16px 24px 16px;
    }

    .packcust-img1 {
        position:absolute;
        top:8px;
        right:8px;
    }

    .packcust-heading1 {
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 28.8px */
        letter-spacing: -0.48px;
    }
    .search1-box {
        width: auto;
        height: 46px;
        background: #f9f9f9;
        border: 1px solid #EEEEEE;
        border-radius: 12px;
        display: flex;
        align-items: center;
        padding: 0 14px;
        gap: 10px;
    }

    .search1-icon {
        width: 18px;
        height: 18px;
    }

    .search1-box input {
        border: none;
        outline: none;
        background: transparent;
        font-size: 14px;
        width: 100%;
    }
    .para-packcust {
        color: #333;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.28px;
    }
    .A-para {
        color: #111;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.4px;
        margin-top:24px;
    }
    .packcust-heading {
        color: #111;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.28px;
        padding-left:8px;
    }
    .paracust-para {
        color: #666;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.24px;
        padding-left:20px;
    }

</style>